@model vidly.ModelsView.MoviesCustomerView;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Model.Movies.Name;
        @{ 
            var result = Model.CustomerList.Count > 1 ? "popular" : "not popular"; 
            }
        <h2 class="@result">@Model.Movies.Name</h2> 
        @if (Model.CustomerList.Count == 0) { 
            <textarea>there's no customers see this movie</textarea>
        }
            else
            {
                @foreach (var item in Model.CustomerList)
                {
                    @item.Name
                }
            }
     
    </div>
</body>
</html>
